.card-buttons {
  z-index: -1;
  position: absolute;
  transform: translateX(-100%);
  top: 5px;
  padding: 6px 0 6px 6px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  background-color: rgba(30, 30, 30, 0.9);
  border-radius: 5px;
}

.card-button {
  border: none;
  outline: none;
  appearance: none;
  border-radius: 3px;
  padding: 4px 4px;
  width: calc(100% + 10px);
  text-align: left;
  background-color: #666;
  color: #CCC;
  font-weight: bold;

  &:hover {
    background-color: #555;
  }
}