@use '../../shared/shared.scss';

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 8px 8px;

  h1 {
    display: inline-block;
    font-size: 18px;
    margin: 0;
  }

  .options {
    display: flex;
    flex-direction: row;
    grid-gap: 10px;

    button {
      height: 26px;
      padding: 4px;
    }
  }

  .prestige {
    display: flex;
    justify-content: center;
    align-items: center;

    .open-menu {
      appearance: none;
      background: none;
      border: shared.$light-border;
      border-radius: 5px;

      &:hover {
        border-color: #999;
      }
    }

    button {
      margin-right: 6px;
    }
  }
}

.center-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #444;
  border-color: #222;
  color: #DDD;
  border-radius: 0;
  padding: 20px;
}

.header-modal {
  max-width: 800px;
  width: 80%;

  > div {
    height: 100%;
  }

  h2 {
    margin-top: 0;
  }
}