.card-list {
  box-sizing: border-box;
  float: right;
  display: flex;
  flex-direction: column;

  width: 140px;
  grid-gap: 10px;
}

.card-list .card {
  position: relative;
  width: 100%;
  height: 120px;
  color: white;
  background-color: #555;
  padding: 5px;
  cursor: pointer;

  &:hover {
    background-color: #666;
  }

  &.empty {
    color: #999;
    .title img {
      filter: opacity(0.5);
    }
  }

  &.selected:not(.empty) {
    border: 2px solid white;
    background-color: #777;
  }

  .title {
    display: flex;
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 10px;

    img {
      width: 26px;
      height: 26px;
    }
  }

  .description {
    font-size: 14px;
    padding: 0 5px;
  }

  .stats {
    position: absolute;
    bottom: 5px;
    left: 5px;

    .stat {
      border: 2px solid #333;
      border-radius: 3px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      width: 16px;
      height: 16px;
      margin-left: 6px;
    }
  }

  .amount {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}