.card-packs {
  width: 100%;
  min-width: 240px;
  max-width: 350px;
  margin-top: 50px;

  h4 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
    color: #AAA;
  }
}

.card-pack-list {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.card-pack-list .card-pack {
  width: 100%;
  min-height: 100px;
  color: white;
  background-color: #555;
  padding: 8px;

  .name {
    margin-bottom: 10px;
  }

  > .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 6px;
    margin-bottom: 10px;

    .possible-card {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #333;
      background-color: #444;
      width: 24px;
      height: 40px;
      border-radius: 3px;

      &:not(.discovered) {
        color: #888;
        background-color: #666;
        border: 1px dashed #333;
      }

      &.rare {
        border-color: #5db9f0;
        color: #5db9f0;
      }

      &.ultra-rare {
        border-color: rgb(189, 165, 30);
        color: rgb(189, 165, 30);
      }
    }
  }

  .buy-buttons {
    display: flex;
    flex-direction: column;
    grid-gap: 6px;
    align-items: flex-end;
  }
}