.card-inventory {
  box-sizing: border-box;
  margin: 50px 0;
  width: 100%;
  max-width: 350px;
  max-height: 600px;
  
  > .cards {
    height: 100%;
  }

  > .title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #AAA;
  }

  .category {
    margin-bottom: 10px;

    .header {
      font-size: 16px;
      color: white;
      cursor: pointer;

      .label {
        margin-left: 10px;
      }
    }
  }
}

.card-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  grid-gap: 10px;
  padding: 10px;
  margin-bottom: 20px;

  &.hidden {
    display: none;
  }
}

$card-width: 160px;
$card-height: 220px;
.card-list .card-container {
  position: relative;
  width: $card-width;
  height: 40px;
  overflow: hidden;

  &:hover {
    z-index: 10;
    overflow: visible;
  }
}

.card-list .card {
  position: absolute;
  top: 0;
  left: 0;
  width: $card-width;
  height: $card-height;
  color: white;
  background-color: #555;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #555;

  &:hover {
    background-color: #666;
    box-shadow: #222 0px 0px 3px 2px;
  }

  &.empty {
    .title {
      color: #999;
      .icon {
        filter: opacity(0.5);
      }
    }
  }

  &.selected:not(.empty) {
    border: 2px solid white;
    background-color: #666;
  }

  .title {
    display: flex;
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    padding-right: 3px;

    .name {
      width: 100%;
    }

    .icon {
      filter: drop-shadow(1px 1px 6px black);
    }
  }

  .tier {
    position: relative;
    width: 26px;
    height: 26px;

    .icon {
      width: 100%;
      filter: brightness(0.8);
    }

    .value {
      display: inline-block;
      width: 100%;
      position: absolute;
      top: 8px;
      left: 0;
      color: black;
      font-weight: bold;
      text-align: center;
    }
  }

  .description {
    margin-top: 20px;
    font-size: 16px;
    padding: 0 5px;
  }

  .stats {
    position: absolute;
    bottom: 5px;
    left: 5px;
    display: flex;
    grid-gap: 10px;

    .stat {
      border: 2px solid #333;
      border-radius: 3px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        margin-left: 6px;
      }
    }
  }
}