.grid {
  margin: 30px;
}

.resources {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
  color: white;

  .resource {
    display: flex;
    flex-direction: row;
    min-width: 100px;

    .amounts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 5px;

      .total {
        font-size: 20px;
        font-weight: bold;
      }
    }

    img {
      width: 36px;
      height: 36px;
    }
  }
}

.grid-rows {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  margin: 30px;
}

$card-width: 100px;
$card-height: 100px;

.grid-row {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  width: 100%;
  height: $card-height;
}

.grid .grid-space {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 6px;

  width: $card-width;
  height: $card-height;
  background-color: #666;
  color: white;
  border-radius: 5px;
  padding: 3px;
  position: relative;

  img.main-icon {
    width: 50px;
    height: 50px;
    filter: drop-shadow(1px 1px 6px black);
  }

  .progress {
    height: 10px;
  }

  .details {
    display: none;
  }

  &:hover .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 8px;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 100, 0.9);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;

    .ability, .ability-cost {
      display: flex;
      align-items: center;
      grid-gap: 3px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  &.card {
    background-color: #888;

    &.expired {
      background-color: #666;
      img.main-icon {
        filter: opacity(0.5);
      }
    }

    .disabled-slash {
      color: rgba(200, 0, 0, 0.75);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &.marked-exclusion {
    //border: 2px solid rgba(255, 0, 0, 0.5);
    box-shadow: rgba(255, 0, 0, 1) 0px 0px 4px 2px;
  }

  &.marked-buff {
    //border: 1px solid rgba(0, 255, 0, 0.5);
    box-shadow: rgba(76, 197, 76, 1) 0px 0px 4px 2px;
  }
}