.grid {
  margin: 30px;
}

.grid-totals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.grid-totals .total {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3px;
}

.grid-rows {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  margin: 30px;
}

.grid-row {
  display: flex;
  flex-direction: row;
  grid-gap: 10px;
  width: 100%;
  height: 60px;
}

.grid .grid-space {
  width: 60px;
  height: 60px;
  background-color: #666;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.grid .grid-space.card {
  background-color: #888;
}