header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 8px 8px;

  h1 {
    display: inline-block;
    font-size: 18px;
    margin: 0;
  }

  .options {
    display: flex;
    flex-direction: row;
    grid-gap: 10px;

    button {
      height: 26px;
      padding: 4px;
    }
  }
}