@use '../shared/shared.scss';

.prestige-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: shared.$text-color;
  width: 100%;

  .header {
    text-align: center;
  }

  .packs-and-upgrades {
    display: flex;
    margin-top: 30px;
    grid-gap: 100px;
    width: 100%;
  }

  .packs {
    width: 260px;

    h4 {
      font-size: 20px;
      margin: 0;
      margin-bottom: 10px;
      font-weight: bold;
      color: #AAA;
    }
  }

  .pack-list {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  .pack-list .pack {
    width: 100%;
    color: white;
    background-color: #555;
    padding: 8px;

    .name {
      margin-bottom: 10px;
    }

    .cards-left {
      margin-bottom: 10px;
    }

    .purchase-button {
      float: right;
      background-color: #888;
      border: 1px solid #777;
      box-shadow: #222 0px 0px 3px 1px;
      border-radius: 3px;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: #AAA;
      }   
    }
  }

  .upgrades {
    width: 100%;
  }

  .upgrade-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    grid-gap: 16px;
    margin-bottom: 20px;

    &.hidden {
      display: none;
    }
  }

  $upgrade-width: 160px;
  $upgrade-height: 220px;
  .upgrade-list .upgrade-container {
    position: relative;
    width: $upgrade-width;
    height: 80px;
    overflow: hidden;

    &:hover {
      z-index: 10;
      overflow: visible;

      .upgrade {
        background-color: #666;
        box-shadow: #222 0px 0px 3px 2px;
      }
    }
  }

  .upgrade-list .upgrade {
    position: absolute;
    top: 0;
    left: 0;
    width: $upgrade-width;
    height: $upgrade-height;
    color: white;
    background-color: #555;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid #555;
    display: flex;
    flex-direction: column;

    .title {
      display: flex;
      grid-gap: 10px;
      align-items: center;
      margin-bottom: 10px;
      padding-right: 3px;

      .name {
        width: 100%;
      }
    }

    .summary {
      margin-bottom: 24px;
    }

    .description {
      font-size: 16px;
      padding: 0 5px;
    }

    .buttons {
      display: flex;
      justify-content: center;
      margin: auto 5px 5px;
    }
  }
}

.prestige-info-modal {
  max-width: 400px;
}